.first-box{
	width: 100px;
	height: 100px;
	background-color: green;
}

.second-box{
	width: 100px;
	height: 100px;
	background-color: red;
}

.fouth-box{
	width: 100px;
	height: 100px;
	background-color: yellow;
}